---
---

@import "{{ site.theme }}";

body{font-size: 14px;}
p{font-size: 14px;}
.main {
    width: 100%;
    display: inline-block;
}
.bg_image_docs {
    width: 100%;
    display: inline-block;
    background-image: url(https://deepal-emipro.github.io/assets/images/background-docs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1em !important;
    padding-bottom: 0em !important;
    box-shadow: inset 0 0 40px -20px #444;
    position: relative;
}
.doc_bg_container img {
    margin: 0 auto;
    max-width: 80px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 3px;
}
.doc_bg_container h1, .doc_bg_container h4 {
    color: #fff;
}
